* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url('./marines-g9ea64f7ac_1920-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

h1 {
    color: goldenrod;
    font-size: large;
    font-weight: 600;
}

h2 {
    color: goldenrod;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

h3 {
    color: goldenrod;
    font-size: 16px;
    font-weight: 600;
    margin: 2px;
}

label {
    color: white;
    font-size: 14px;
    align-self: center;
}

button {
    transition: all 0.3s ease;
}

.header-container {
    display: flex;
    background-color: darkblue;
    width: 350px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.pft-or-cft-container, .mfage {
    display: flex;
    justify-content: space-around;
    background-color: none;
    width: 370px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 5px;
}

.pftcft-button {
    height: 40px;
    width: 180px;
    border-radius: 10px;
    color: goldenrod;
    font-size: large;
    font-weight: 600;
    background-color: darkred;
    border: solid 2px goldenrod;
    transform: scale(0.95);
}

.pftcft-button-selected {
    height: 40px;
    width: 180px;
    border-radius: 10px;
    color: goldenrod;
    font-size: large;
    font-weight: 600;
    background-color: rgb(180, 0, 0);
    border: solid 2px goldenrod;
    transform: scale(1.02);
}

.pftcft-button:hover {
    background-color: rgb(180, 0, 0);
    transform: scale(1.02);
}

.male-female-button {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    color: goldenrod;
    font-size: large;
    font-weight: 600;
    background-color: darkred;
    border: solid 2px goldenrod;
    transform: scale(0.95);
}

.male-female-button-selected {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    color: goldenrod;
    font-size: large;
    font-weight: 600;
    background-color: rgb(180, 0, 0);
    border: solid 2px goldenrod;
    transform: scale(1.02);
}

.male-female-button:hover {
    background-color: rgb(180, 0, 0);
    transform: scale(1.02);
}

.age-input {
    border-radius: 10px;
    width: 110px;
    font-size: large;
    border: solid 2px black;
}

.event-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 360px;
    margin: auto;
    margin-bottom: 8px;
    border-radius: 10px;
    text-align: center;
    background-color: darkblue;
    padding: 5px 5px 20px 5px;
}

.reps {
    height: 35px;
    width: 60px;
    border-radius: 5px;
    font-size: medium;
}

select {
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

.plank-time, .runrow-time {
    background-color: white;
    width: 80px;
    height: 40px;
    align-self: center;
    border-radius: 5px;
}