* {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: goldenrod;
    font-size: large;
    font-weight: 600;
}

h2 {
    color: goldenrod;
    font-size: medium;
    font-weight: 600;
    margin: 0;
}

.header-container {
    display: flex;
    background-color: darkblue;
    width: 350px;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.pft-or-cft-container, .mfage {
    display: flex;
    justify-content: space-around;
    background-color: none;
    width: 370px;
    margin: auto;
    margin-top: 2px;
}

.pftcft-button {
    height: 40px;
    width: 180px;
    border-radius: 10px;
    color: goldenrod;
    font-size: large;
    font-weight: 600;
    background-color: darkred;
    border: solid 2px goldenrod;
}

.pftcft-button:hover {
    background-color: rgb(120, 0, 0);
}

.male-female-button {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    color: goldenrod;
    font-size: large;
    font-weight: 600;
    background-color: darkred;
    border: solid 2px goldenrod;
}

.male-female-button:hover {
    background-color: rgb(120, 0, 0);
}

.age-input {
    border-radius: 10px;
    width: 110px;
    font-size: large;
    border: solid 2px goldenrod;
}

.event-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 360px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: darkblue;
    padding: 5px 5px 20px 5px;
}

.reps {
    height: 35px;
    width: 50px;
    border-radius: 5px;
}

select {
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

.plank-time {
    background-color: white;
    width: 150px;
    align-self: center;
    border-radius: 5px;
}